.organizationLoginContainer{
    padding-top: 125px;
    text-align: center;
}
.organizationLoginTitle{
    font-size: 20px !important;
    font-weight: 600 !important;
}
.organizationLoginFormContainer {
    margin: 10px auto 0px auto;
    width: 50%;
    max-width: 300px;
    text-align: center;
}
.organizationLoginFormFieldContainer{
    width: 100%;
    margin: 30px 0px;
}
.organizationLoginFormField{
    width: 100% !important;
}
