.generalNavigationContainer{
    margin: 0px !important;
    padding: 25px 0px !important;
    background-color: #154360 !important;
    display: grid;
    grid-template-columns: 50% 50%;
}
.generalTitleContainer{
    padding: 0px 0px 0px 10%;
    text-align: left;
    align-items: left;
}
.generalTitle{
    font-weight: 800 !important;
    font-size: 30px !important;
    color: white !important;
}
